
@media (max-width: 650px) {
  .list-box {
    max-width: 100%;
    width: 300px;
    border-radius: 12px
  }
}

:root {
  --primary-color: #9b1d20; 
  --secondary-color: #3d2b3d; 
  --accent-color: #635d5c;
  --text-color: #cbefb6;
  --link-color: #d0ffce;
}

.cprimary {
  background-color: var(--primary-color);
}

.csecondary {
  background-color: var(--secondary-color);
}

.caccent {
  background-color: var(--accent-color);
}

.caccent.badge {
  background-color: var(--accent-color) !important
}

.ctext {
  color: var(--text-color);
}

.clink {
  color: var(--link-color);
}

.text-underline {
  text-decoration: underline;
}

.resume-card-custom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}