.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --primary-color: #1f2041; 
  --secondary-color: #4b3f72; 
  --accent-color: #417b5a;
  --text-color: #d0ceba; 
  --link-color: #e9d2c0; 
}

.cprimary {
  background-color: var(--primary-color);
}

.csecondary {
  background-color: var(--secondary-color);
}

.caccent {
  background-color: var(--accent-color);
}

.ctext {
  color: var(--text-color);
}

.clink {
  color: var(--link-color);
}

.card-custom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.text-underline {
  text-decoration: underline;
}

.hover-effect {
  transition: all 0.3s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--primary-color);
    border-radius: 12px;
}
