.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --primary-color: #2274a5; /* Dark green, or any color you prefer */
  --secondary-color: #e7dfc6; /* Light gray or background color */
  --accent-color: #e9f1f7; /* Accent color, e.g., red */
  --text-color: #131b23; /* General text color */
  --link-color: #816c61; /* Link color */
}

.cprimary {
  background-color: var(--primary-color);
}

.csecondary {
  background-color: var(--secondary-color);
}

.caccent {
  background-color: var(--accent-color);
}

.ctext {
  color: var(--text-color);
}

.clink {
  color: var(--link-color);
}

.card-custom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.hover-effect {
  transition: all 0.3s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--primary-color);
    border-radius: 12px;
}
